@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    Number 1 :
    <input type="text" data-bind="value: num1" /><br />
    Number 2 :
    <input type="text" data-bind="value: num2" /><br />
    <button id="btnAdd" data-bind="click: calculate">Add</button><br />
    <span data-bind="text: total"></span>


    <!--Script references-->
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/knockout-2.2.1.js"></script>
    <script src="~/Scripts/calculate.js"></script>
</body>
</html>
