@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="~/Content/qunit-1.11.0.css" rel="stylesheet" />
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <!--Script references-->
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/knockout-2.2.1.js"></script>
    <script src="~/Scripts/calculate.js"></script>
    <script src="~/Scripts/qunit-1.11.0.js"></script>
    <script src="~/Scripts/Test/CalculateTest.js"></script>
</body>
</html>
